# Django Core & Security
Django>=4.0
django-cors-headers

# API & Authentication
djangorestframework
djangorestframework-simplejwt

# Database Drivers & Connection Pooling (MySQL/MariaDB)
mysqlclient==2.2.7
django-db-connection-pool[mysql]

# PDF & Excel Export Utilities
xhtml2pdf
xlwt

# Common Utilities
pillow
