<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Broker</title>
</head>
<body>
    {% include "header.html" %}
    <form method="POST">
        {% csrf_token %}
        <div align="center">
            {% if form.id > 0 %}
                <h1>Update Broker</h1>
            {% else %}
                <h1>Add Broker</h1>
            {% endif %}
            {% if form.error %}
                <h3><font color="red"> {{ form.message }} </font></h3>
            {% else %}
                <h3><font color="green"> {{ form.message }} </font></h3>
            {% endif %}

            <table>
                <input type="hidden" name="id" value="{{form.id}}">

                <tr>
                    <th>Broker Name:</th>
                    <td><input type="text" name="broker_name" value="{{form.broker_name}}"></td>
                    <td style="position: fixed; color: red;">{{ form.input_error.broker_name }}</td>
                </tr>

                <tr>
                    <th>Contact Number:</th>
                    <td><input type="text" name="contact_number" value="{{form.contact_number}}"></td>
                    <td style="position: fixed; color: red;">{{ form.input_error.contact_number }}</td>
                </tr>

                <tr>
                    <th>Company:</th>
                    <td><input type="text" name="company" value="{{form.company}}"></td>
                    <td style="position: fixed; color: red;">{{ form.input_error.company }}</td>
                </tr>

                <tr>
                    <th></th>
                    <td>
                        {% if form.id > 0 %}
                            <input type="submit" value="update">
                        {% else %}
                            <input type="submit" value="save">
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
